* {background: hotpink;}
html {min-height: 400%;}
h1#a1 {font-style: italic;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: red;
  border: 1;
}

img {text-align: right;
}
div>p {color: red;
font-size: 50px}


div#f4 {font-style: italic;
font-weight: bolder;
font-size: 20px;
text-align: right;
color: blue;}
 div#f5 {color: purple;
  text-align: left;
font-style: italic;
font-weight: bolder;
font-size: 20px;}
div#f3 {color: blue;}
h1#a2 {color: yellow;
font-weight: bolder;
font-style: italic;
text-align: center;
font-size: 50px;}
h1#a3 {color: aliceblue;
font-size: 50px;
font-weight: bolder;
font-style: italic;
text-align: center;}